.card-overlay {
    background-color: #ffffffac;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 40%;
    right: 0;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card--details--playlist{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0;
}

.playlist-delete-icon{
    font-size: 2rem;
}
