/*cards*/

.cards {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--WHITE);
}

.category-subheading {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  color: var(--GRAY-80);
  width: auto;
}

.category-header {
  background-color: rgb(242, 242, 244);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.card--container {
  justify-content: center;
  background-color: var(--WHITE);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 2rem;
}
.card {
  width: 25rem;
  height: auto;
  background-color: var(--WHITE);
  color: var(--BLACK-80);
  border-radius: 8px;
  padding: 0px;
  font-weight: 400;
  position: relative;
  transition: 1s;
}

.card:hover {
  transform: scale(1.1);
  z-index: 55;
  cursor: pointer;
  transition: 1s;
  box-shadow: 0px 0px 15px var(--BOX-SHADOW);
}
.card--details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0;
}

.img-fluid {
  border-radius: 5px 5px 0 0;
  margin-top: 0px;
  width: 100%;
  height: auto;
}

.card--image {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.card--body {
  padding: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
  height: auto;
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.card--title {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.channel-logo {
  border-radius: 50%;
  box-shadow: 0px 0px 15px var(--BOX-SHADOW);
}

.logo-img {
  border-radius: 50%;
  width: 3.5rem;
  height: auto;
}

.card--footer {
  margin: 0 0.5rem;
  padding-bottom: 10px;
  justify-content: space-between;
  display: flex;
}

.card-channel {
  color: var(--BLACK-100);
  font-weight: 600;
  font-size: 1.2rem;
}

.card-views {
  color: var(--GRAY-80);
  font-weight: 500;
  font-size: 1rem;
}

.card--options {
  color: white;
  z-index: 0;
  position: absolute;
  right: 0px;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duration-label {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: #000000c9;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.card--options li {
  font-size: 2rem;
  padding: 0.5rem;
  transition: 1s;
}

.card--options li:hover {
  background-color: rgba(100, 100, 99, 0.537);
  transition: 1s;
  color: rgb(120, 253, 253);
  cursor: pointer;
}
