@import "../../styles/utility.css";

body{
    background-color: #f5f5f5;
}


.nav-bar {
    display: flex;
    width: 100%;
    height: auto;
    background: var(--BLACK-60);
    position: sticky;
    top: 0;
    z-index: 99;
}

.btn-icon{
    color: var(--WHITE);
}

.logo-icon{
        position: relative;
        top: 4px;
        right: 2px;
    color: var(--LIGHT-GREEN);
}

.nav--body {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav--header {
    display: inline;
    align-items: baseline;
    font-weight: 500;
    font-size: 2rem;
}

.nav--title {
    margin-left: 3rem;
    cursor: pointer;
    display: inline;
    align-items: center;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 2rem;
    color: var(--LIGHT-GREEN);
}

.nav--search {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 3rem;
}

.clear-icon{
    color: white;
    position: absolute;
    right: -8rem;
    font-size: 1.8rem;
    cursor: pointer;
}


.nav--search--input {
    width: 40rem;
    border: none;
    height: 3.2rem;
    padding: 0rem 2rem;
    background: rgba(255, 255, 255, 0.164);
    color: var(--WHITE);
    font-family: inherit;
    border-radius: 0.5rem;
}
  
.nav--search--btn {
    cursor: pointer;
    border: 1px solid var(--WHITE);
    background-color: transparent;
    color: var(--WHITE);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}



.nav--link {
    text-decoration: none;
    color: var(--WHITE);
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.5rem;
}

.link-btn {
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}



.btn-solid {
    color: var(--WHITE);
    background-color: var(--LIGHT-GREEN);
    border: transparent;
    padding: 0.7rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-solid:hover {
    background-color: var(--BLACK-100);
    color: var(--WHITE);;
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav--list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    width: auto;
    list-style: none;

}

.nav--item {
    padding: 0rem;
}

.badge--number {
    position: relative;
    aspect-ratio: 1;
    left: 80%;
    top: -20px;
    font-size: 5px;
    font-weight: 600;
    border-radius: 30px;

    background-color: var(--LIGHT-GREEN);;
    color: var(--BLACK-100);
    padding: 1px 5px;
    border: 2px solid var(--WHITE);
}

.icons {
    font-size: 2.3rem;
    color: var(--WHITE);
}

/* drawer navbar */

.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: -0;
    left: 0;
    background-color: var(--BLACK-60);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3rem;
}

.closebtn, .burgar-icon {
    color: var(--LIGHT-GREEN);
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 2rem;
    z-index: 2;
    display: none;
}

.burgar-icon{
    top: 15px;
}

.flex-row{
        padding: 1rem 6rem;
        gap: 2rem;
        flex-direction: row;
}

/*media query*/

@media only screen and (max-width: 756px) {
    
    :root{
        font-size:60%
    }
        .burgar-icon, .closebtn{
            display: block;
        }

        .aside-container{
            display: none;
        }

        .cards{
            width: 100vw;
        }

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* .body-section {
            flex-wrap: wrap;
            display: flex;
        } */

    }
    
    @media only screen and (max-width: 667px) {
    :root{
        font-size:55%
    }

    .nav--search--input{
        width:14rem
     }

}
    @media only screen and (max-width: 350px) {
    :root{
        font-size:35%
    }
     .nav--search--input{
        width:13rem
     }
}