.aside-container {
  width: 8vh;
  min-width: 8rem;
  overflow-y: auto;
  overflow-x: clip;
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  color: white;
  background: linear-gradient(184.47deg, #151515 -1.58%, #010101 120.78%);
  
}

.aside--container {
  width: auto;
  overflow-y: auto;
  overflow-x: clip;
  height: calc(100vh - 6.24rem);
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  padding: 0rem 7rem 1rem 4rem;
  color: white;
  background: linear-gradient(184.47deg, #151515 -1.58%, #010101 120.78%);
  min-width: 24rem;
}

.aside-list {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-direction: column;
}

.aside-item {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  font-weight: 500;
}

.aside-text {
  color: white;
  font-size: 1rem;
}

.aside-link {
  padding: 1rem 3rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 2.5rem;
  color: white;
  gap: 1rem;
  transition: 1s;
}

.aside-link:hover{
 background-color: var(--GREEN-50);
 transition: 1s;
}
