
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

.icon{
  cursor: pointer;
  transition: 1s;
}

.active {
  background-color: var(--GREEN-50);
}

.icon:hover{
  color: red;
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}


/***main-section-of-all-pages***/

.main-section-heading {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 2rem;
  font-size: 2.5rem;
  color: var(--GRAY-80);
  align-items: center;

}

.main-section-heading-center{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-section-heading button{
  color: var(--GRAY-80);
}

.remove-btn {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.small{
  font-size: 1.5rem;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--GREEN-50); 
}

.spinner {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}