
.card--single-video {
    width: 67%;
    height: auto;
    background-color: var(--WHITE);
    color: var(--BLACK-80);
    font-weight: 400;
    position: relative;
    margin: 2rem 4rem;
}


.card--image--single-video {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    height: auto;
    margin-top: 0px;
}

.card--body--single-video{
    padding: 1rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: auto;
    height: auto;
}



.card--footer {
    grid-gap: 1rem;
    gap: 1rem;
    margin: 0 -0.5rem;
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.card--details--singlevideo {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    grid-gap: 1rem;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0;
}

.actions-buttons {
    display: flex;
    justify-content: flex-end;
    gap:2rem
}

.actions-buttons span {
    font-size: 2rem;
    cursor: pointer;
}

.card-channel-desc{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.iframe{
    width: 100%;
    height: 40rem;
}

