.card--single-video {
  width: 90vw;
  height: auto;
  background-color: var(--WHITE);
  color: var(--BLACK-80);
  font-weight: 400;
  position: relative;
  margin: 2rem;
}

.card--image--single-video {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 0px;
}

.card--body--single-video {
  padding: 1rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: auto;
  height: auto;
}

.card--footer {
  grid-gap: 1rem;
  gap: 1rem;
  margin: 0 -0.5rem;
  padding: 10px;
  justify-content: space-between;
  display: flex;
}

.card--details--singlevideo {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0;
}

.actions-buttons {
  color: var(--GRAY-80);
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.actions-buttons span:hover {
  color: rgb(0, 143, 143);
}

.actions-buttons span {
  font-size: 2rem;
  cursor: pointer;
}

.card-channel-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.iframe {
  width: 100%;
  height: 40rem;
}

.explore--section {
  padding: 1.6rem;
  margin: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.explore--section h2 {
  color: var(--LIGHT-GREEN);
  font-size: 2rem;
}

.explore--card--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 1000px) {
  .wrap {
    flex-wrap: wrap;
  }
  .card--single-video{
    width:100vw;
    margin: 0;
  }
  .explore--card--container {
    display: flex;
    grid-gap: 2rem;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .explore--section {
    width:100vw;
    align-items: center;
  }

}
